@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

/* Global Selectors */
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

/* Loader Styles */
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--primary-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid var(--primary-blue);
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: var(--primary-blue);
  animation: loader-inner 2s infinite ease-in;
}

.d-none {
  display: none;
}

/* Global Styles */
* {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --primary-white: #f9fafe;
  --secondary-white: #f2f5fc;
  --tertiary-white: #e7ebf3;
  --primary-blue: #004185;
  --secondary-blue: #002751;
  --primary-black: #4b4b4b;
}

body,
html {
  width: 100vw;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  scroll-behavior: auto;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  background-image: url(../img/hero-bg.png);
  background-color: var(--secondary-white);
  background-size: auto;
  background-repeat: no-repeat;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

ul {
  list-style-type: none;
}

/* Navbar Styles */
.navbar {
  padding: 0;
  position: fixed;
  display: flex;
  width: 100%;
  height: 80px;
  top: 0;
}

.navbar-logo {
  margin-top: 0.75rem;
  margin-left: 1.5rem;
  margin-right: 2rem;
  max-height: 3.5rem;
}

.navbar-list {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.navbar-items {
  margin-right: 2rem;
  font-weight: 600;
  font-size: 0.95rem;
  color: black;
}

.navbar-items:hover {
  cursor: pointer;
  color: var(--primary-black);
}

.navbar-button {
  text-align: center;
  line-height: 2.5rem;
  display: flex;
  margin: auto;
  margin-right: 2rem;
  align-items: center;
  border: none;
  height: 2.5rem;
  padding: 1rem 1.2rem 1rem 1.2rem;
  background-color: var(--primary-blue);
  color: var(--primary-white);
  font-weight: 600;
  font-size: 0.85rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.navbar-button:hover {
  background-color: var(--secondary-blue);
}

.navbar-active {
  color: black;
}

.add-shadow {
  box-shadow: 0px 5px 20px rgb(1 41 112 / 12%);
  background-color: var(--primary-white);
}

/* Hero Styles */
.hero-section {
  height: 820px;
}

.grid {
  overflow: visible;
  display: grid;
  grid-template-columns: 53% 52%;
  margin-top: 5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.hero-img {
  max-width: 40rem;
}

.grid-first {
  margin-top: 17rem;
  margin-left: 2rem;
}

.grid-second {
  margin-top: 110px;
}

.hero-main-text {
  color: var(--primary-blue);
  font-weight: 700;
  font-size: 3.5rem;
}

.hero-secondary-text {
  color: var(--primary-blue);
  font-size: 1.5rem;
}

.hero-description {
  color: var(--primary-blue);
  font-size: 1.1rem;
}

.hero-button {
  text-align: center;
  line-height: 2.5rem;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  border: none;
  height: 2.5rem;
  padding: 1rem 1.2rem 1rem 1.2rem;
  background-color: var(--primary-blue);
  color: var(--primary-white);
  font-weight: 600;
  font-size: 0.85rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.hero-button:hover {
  background-color: var(--secondary-blue);
}

/* Events Styles */
.events {
  background-color: var(--secondary-white);
  margin-bottom: 4rem;
}

.grid-body {
  overflow: visible;
  display: grid;
  grid-template-columns: 40% 60%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid-box {
  margin: 0rem 2rem 0rem 0rem;
  padding: 1rem;
  border-radius: 0.4rem;
  background-color: var(--primary-white);
  color: var(--primary-black);
  box-shadow: 0px 5px 20px rgb(1 41 112 / 12%);
}

.grid-box-heading {
  color: var(--primary-blue);
  font-weight: 700;
  font-size: 1.1rem;
}

.grid-box-subheading {
  color: var(--primary-blue);
  font-weight: 600;
  font-size: 0.9rem;
}

.event-img {
  max-width: 25rem;
}

.grid-body-first {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.grid-body-second {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Downloads Styles */
.downloads {
  background-color: var(--secondary-white);
  margin-bottom: 4rem;
}

.downloads-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-blue);
  font-size: 1.3rem;
  font-weight: 600;
}
.downloads-subheading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-blue);
  font-size: 0.85rem;
  font-weight: 600;
}

.downloads-secondary {
  margin-top: 1rem;
}

.downloads-card {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 120px;
  background-color: var(--primary-white);
  box-shadow: 0px 5px 20px rgb(1 41 112 / 12%);
  border-radius: 0.4rem;
  margin-right: 1rem;
  padding: 1rem;
}

.downloads-icon {
  max-height: 5rem;
  padding: 0rem 1rem 0rem 0rem;
}

.grid-downloads {
  overflow: visible;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-left: 1.5rem;
}

.downloads-body-heading {
  color: var(--primary-blue);
  font-size: 1.1rem;
  font-weight: 600;
}

.downloads-body-subheading {
  color: var(--primary-blue);
  font-size: 0.85rem;
  font-weight: 500;
}

.downloads-body-download {
  color: var(--secondary-blue);
  font-size: 0.8rem;
  font-weight: 500;
}

/* Career Styles */

.career {
  background-color: var(--secondary-white);
  margin-top: 5rem;
}

.grid-career {
  overflow: visible;
  display: grid;
  grid-template-columns: 60% 40%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid-career-first {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.grid-career-second {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.grid-career-box {
  margin: 0rem 0rem 0rem 2rem;
  padding: 1rem;
  border-radius: 0.4rem;
  background-color: var(--primary-white);
  color: var(--primary-black);
  box-shadow: 0px 5px 20px rgb(1 41 112 / 12%);
}

.career-image {
  max-width: 35rem;
}

/* About Styles */

.about {
  margin-top: 1.5rem;
}

.grid-about {
  overflow: visible;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-left: 3rem;
  margin-right: 0rem;
}

.grid-about-first {
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.grid-about-second {
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.grid-about-third {
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.about-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-image {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 4rem;
}

.about-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-blue);
  font-weight: 600;
  margin-top: 0.5rem;
}

/* Contact Styles */

.contact {
  margin-top: 3rem;
}

.grid-contact {
  overflow: visible;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid-contact-first {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  margin-bottom: 5rem;
}

.grid-contact-second {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  margin-bottom: 5rem;
}

.grid-contact-box {
  margin: 0rem 0rem 0rem 2rem;
  padding: 1rem;
  border-radius: 0.4rem;
  background-color: var(--primary-white);
  color: var(--primary-black);
  box-shadow: 0px 5px 20px rgb(1 41 112 / 12%);
}

.contact-form-input {
  /* height: 30px; */
  background-color: var(--tertiary-white);
  border: none;
  outline: none;
  border-radius: 0.3rem;
  padding: 0.75rem;
  margin-left: 0.25rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.contact-image {
  max-width: 30rem;
}

.contact-button-wp {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-button {
  text-align: center;
  line-height: 2.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  border: none;
  height: 2.5rem;
  padding: 1rem 1.2rem 1rem 1.2rem;
  background-color: var(--primary-blue);
  color: var(--primary-white);
  font-weight: 600;
  font-size: 0.85rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.contact-button:hover {
  background-color: var(--secondary-blue);
}

/* Footer Design */

.footer {
  /* position: fixed; */
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--primary-white);
  height: auto;
  width: 100vw;
  padding-top: 15px;
  color: #fff;
}

.footer-content {
  color: var(--primary-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  /* margin: 10px auto; */
  line-height: 28px;
  font-size: 14px;
  color: var(--secondary-blue);
}

.footer-bottom {
  background: var(--primary-white);
  width: 100vw;
  padding: 20px;
  padding-bottom: 15px;
  text-align: center;
}

.footer-bottom p {
  margin-right: 2.75rem;
  float: center;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
  color: var(--primary-blue);
}

.footer-menu {
  float: right;
}

.footer-menu ul {
  display: flex;
}

.footer-menu ul li {
  padding-right: 10px;
  display: block;
}

.footer-menu ul li a {
  color: #cfd2d6;
  text-decoration: none;
}

.footer-menu ul li a:hover {
  color: #27bcda;
}
